<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"
    ></script>

    <script>

      $(document).ready(function () {
        
      });
    </script>
  </head>
  <body>
    <%- include('components/nav') %>
    <div class="container-fluid">
      <div class="row">
        <%- include('components/sidenav') %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="page">
            <% if (locals.pages) { %>
                <% switch(pages) {
                    case "categories" : %>
                    <%- include('pages/categories') %>
                <% break; %>
                <% case "types" : %>
                    <%- include('pages/types') %>
                <% break; %>
                <% case "all_types" : %>
                    <%- include('pages/all_types') %>
                <% break; %>
                <% case "all_products" : %>
                    <%- include('pages/all_products') %>
                <% break; %>
                <% case "products" : %>
                    <%- include('pages/products') %>
                <% break; %>
                <% case "edit" : %>
                    <%- include('pages/edit') %>
                <% break; %>
                <% case "create" : %>
                    <%- include('pages/create') %>
                <% break; %>
                <% case "accounts" : %>
                    <%- include('pages/accounts') %>
                <% break; %>
                <% case "slides" : %>
                    <%- include('pages/slides') %>
                <% break; %>
                <% case "editslide" : %>
                    <%- include('pages/editslide') %>
                <% break; %>
                <% case "createslide" : %>
                    <%- include('pages/createslide') %>
                <% break; %>
                <% case "promotions" : %>
                    <%- include('pages/promotions') %>
                <% break; %>
                <% case "createpromotion" : %>
                    <%- include('pages/createpromotion') %>
                <% break; %>
                <% case "editpromotion" : %>
                    <%- include('pages/editpromotion') %>
                <% break; %>
                <% } %>
            <% } %>
        </main>
      </div>
    </div>
  </body>
</html>
