<!DOCTYPE html>
<html lang="en">
  <head>
    <script>

      function deleteProduct(pid){

      if(confirm('Are you sure to delete this product?')){
        $.ajax({
          type: "POST",
          url: "/admin/delete/product",
          data: {id: pid},
          success: function (data) {
            console.log(data)
            location.reload()
          },
        });
          }else{
              console.log('nothing')
          }

      }

      $(document).ready(function () {

        if('<%= language %>' == 'TH'){
          $('#clink').attr('href', '/admin/categories/types/products/EN')
        }else if('<%= language %>' == 'ENG'){
          $('#clink').attr('href', '/admin/categories/types/products/TH')
        }


        $("#table").DataTable({
            pageLength: 25,
          });
      });
    </script>
  </head>
  <body>
    <nav
      class="navbar sticky-top flex-md-nowrap p-0"
    >
          <h2 class="col-sm-3 col-md-2 mr-0" >Products</h2>
            <ul class="navbar-nav px-3">
              <li class="nav-item text-nowrap">
                <a href="/admin/categories/types/1/products/create"><button class="btn btn-success">Create</button></a>
                <a id="clink"><button id="lbutton" class="btn btn-info"><%= language %></button></a>
              </li>
            </ul>
    </nav>
          <br>
          <div class="table-responsive">
            <table id="table" class="table table-striped">
              <thead>
                <tr>
                  <th>key</th>
                  <th>name</th>
                  <th>options</th>
                </tr>
              </thead>
              <tbody id="tbody">
                <% for(let i=0; i< data.length;i++){%>
                  <tr>
                    <td><%= data[i].product_key %></td>
                    <td><%= data[i].name %></td>
                    <td><a href="/admin/product/<%=data[i].product_id%>/promotion/create"><button class='btn btn-info'>create promotion</button></a> <a href="/admin/categories/types/products/<%= data[i].product_id %>"><button class='btn btn-primary'>Edit</button></a> <button class='btn btn-danger' onclick="deleteProduct('<%= data[i].product_id %>')">Delete</button></td>
                  </tr>
                <%}%>
              </tbody>
            </table>
          </div>
        
  </body>
</html>
